github "Quick/Quick"
github "Quick/Nimble"
github "Alamofire/Alamofire"
github "Hearst-DD/ObjectMapper"
github "tristanhimmelman/AlamofireObjectMapper"
github "Alamofire/AlamofireImage"
github "Haneke/HanekeSwift" "feature/swift-3"
github "mbogh/NibDesignable"